# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=<your_connection_string>
AZURE_STORAGE_CONTAINER_NAME="documents"

# Azure AD
AZURE_AD_CLIENT_ID=<your_client_id>
AZURE_AD_CLIENT_SECRET=<your_client_secret>
AZURE_AD_TENANT_ID=<your_tenant_id>

# Role IDs (these must match the IDs in your Terraform configuration)
AZURE_AD_ADMIN_ROLE_ID=ed327cb5-2e64-7a43-6c5a-54e30143ea23
AZURE_AD_USER_ROLE_ID=f3915010-d3d9-137b-afb9-c0b0f3e802d2
NEXT_PUBLIC_AZURE_AD_ADMIN_ROLE_ID=ed327cb5-2e64-7a43-6c5a-54e30143ea23
NEXT_PUBLIC_AZURE_AD_USER_ROLE_ID=f3915010-d3d9-137b-afb9-c0b0f3e802d2

# Next Auth
NEXTAUTH_SECRET=<your_random_secret>
NEXTAUTH_URL=<app_url>.uksouth.azurecontainerapps.io

# Default admin (will be granted admin privileges regardless of Azure AD role)
DEFAULT_ADMIN_EMAIL=<your_admin_email>
