# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=<your_connection_string>
AZURE_STORAGE_CONTAINER_NAME="documents"

# Azurite
USE_AZURITE=true

# Next Auth
NEXTAUTH_SECRET=<your_random_secret>
NEXTAUTH_URL=http://localhost:3000

# Default admin (will be granted admin privileges regardless of Azure AD role)
DEFAULT_ADMIN_EMAIL=<your_admin_email>

# For Azurite local development
# Email address: <your_admin_email>
# Name: <your_admin_name>
# Password: <your_admin_password>
# To seed a new Azurite instance with this user, run the following command in the terminal:
# npx azurite --location ./AzuriteConfig
# Then, in another terminal, run:
# node scripts/seed-admin.js yourpassword "Your Name"

DATABASE_URL=postgresql://<NEON_CONNECTION_STRING>
